$ff-primary: "Press Start 2P", system-ui;

$bg-primary: #ee665c;
$bg-game: bisque;
$bg-btn-disabled: #eee;

$border-clr-primary: #39813a;

$clr-font-primary: #333;
$clr-white: #fff;
$clr-btn-disabled: #aaa;